@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #0B5345 !default;
$brand-success: #ff8400!default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Share+Tech');
@import url('https://fonts.googleapis.com/css?family=Abel');
// $font-share-tech: 'Share Tech', 'Arial', sans-serif;
body {
    font-family: 'Abel', sans-serif;
}

//scss for @font-face

h1 ,h2,h3,h4,h5,h6{
   font-family: 'Share Tech', sans-serif;
   color: $brand-primary
}
h1 {
    font-size: 67px;
    color: #fff !important;
    font-weight: 700;
    letter-spacing: 2px;
}
h2 { font-size: 60px;
     font-weight: 700;
      letter-spacing: 2px;
       }
h3 { font-size: 40px; 
     margin: 0
     }
h4{ font-size:27px; }

h5{ font-size: 21px; }

h6{ font-size: 18px; }

p,li{
   font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
p {
    font-size: 16px;
    color: $brand-primary;
    a {
        color: $brand-primary;
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            color: $brand-primary;
        }
    }
}
.inline-block  { display: inline-block; }
.float-r {
    float: right;
}

.float-l {
    float: left;
}

.m-0 {
    margin: 0;
}

.font-bold {
    font-weight: bold;
}

.btn-main {
    font-weight: bold;
    background: $brand-primary;
    font-size: 18px;
    width: 200px;
    border: none;
    color: white;
    margin: 0 auto;
    display: block;
    &:hover {
        color: white;
        background: $brand-primary
    }
}

.icon-bar {
    display: block;
    height: 2px;
    width: 15px;
    background-color: #000;
    margin: 5px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    @include transition(all ease 300ms);
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    @include box-shadow(none);
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

//SWIPER CSS
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url(../img/prev.png);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/next.png);
}


/* Start writing sass here */

.navbar-default {
    border: none;
}

.content {
    min-height: 450px;
}

.full-img {
    width: 100%;
    display: block;
}

.navbar-default {
    background-color: transparent;
}

//scss for about
.bg-img {
    background-image: url("../img/4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin-top: -110px;
}

.heading-about {
    margin-top: 230px;
}

.man-heading{ font-size: 35px; }
.btn-10 {
    margin: 10px auto;
    padding: 5px 0px;
}
.block-2 {
    background-color: white;
    margin: 40px 0px;
    padding: 30px;
}

.give-h2 {
    padding: 0 40px;
    margin: 0px;
}

.p-50  { padding: 0 50px; }

.photo {
    text-align: center;
    color: $brand-primary;
    padding-top: 15px;
    img {  width: 135px; }
      }
.scott { padding: 0px 20px 0px 50px; }

.alex { padding: 0px 50px 0px 20px; }

// scss for footer
footer {
    background: #1C2833;
    p {
        margin: 0;
        font-size: 16px;
        color: #76D7C4;
        padding: 18px 0px;
    }
    .icon {
        color: #76D7C4;
        padding: 12px 0px;
        font-size: 24px;
    }
}

//scss for header
.icon-bar {
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    margin: 5px;
}

.slide-down {
    margin-top: 15% !important;
}

.sidemenu {
    background-color: #76D7C4;
    width: 100%;
    height: 700px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.header-btn {
    display: block;
    font-size: 30px;
    color: #0B705C;
    font-family: share tech;
    &:hover {
        color: #0B705C;
    }
}

.head-content {
    margin-top: 15px;
    border-bottom: 1px solid #BDE7DE;
    z-index: 2;
    position: relative;
    &:before {
        content: '';
        @include square(22px);
        border-top: 2px solid #BDE7DE;
        border-left: 2px solid #BDE7DE;
        position: absolute;
        top: 0;
        left: -50px;
    }
    &:after {
        content: '';
        @include square(22px);
        border-top: 2px solid #BDE7DE;
        border-right: 2px solid #DEF6F1;
        position: absolute;
        top: 0;
        right: -50px;
    }
}

.btn-header {
    span {
        @include transition(all 300ms linear);
    }
    background: transparent;
    &:focus {
        outline: none;
    }
}

.hamburger-cross {
    span {
        @include transition(all 300ms linear);
    }
    span:first-child {
        position: relative;
        top: 7px;
        @include transform(rotate(45deg));
    }
    span:nth-child(2) {
        opacity: 0;
    }
    span:last-child {
        position: relative;
        bottom: 7px;
        @include transform(rotate(-45deg));
    }
}

.header-list {
    margin-top: 10px;
    color: white;
}

.btn-join {
    background-color: #76D7C4;
}

.header-logo {
    position: absolute;
    left: 50%;
    @include transform(translate(-50%,
    0));
}

.img-logo {
    width: 250px;
    margin-top: -88px
}

//scss for blog
.blog-img {
    background-image: url("../img/b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin-top: -110px;
}
.blog-title {
    padding-top: 160px;
    padding-bottom: 15px;
}
.serveying{
    padding-bottom: 25px;
}
.blog-relative{
position: relative;
}
.blog-absolute{
position:absolute;
}
.main-content {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    padding: 60px;
}
.blog-img-1 {
    width: 100%;
    img {
        width: 100%;
        padding: 30px 0px;
    }
}
.btn-view {
    border: none;
    background: transparent;
    border-bottom: 2px solid #76D7C4;
    font-size: 18px;
    color: $brand-primary;
}
.sep-22 {
    font-size: 20px;
    font-weight: bold;
    color: #76D7C4;
}
.august {
    font-size: 15px;
    color: #76D7C4;
}
.h35 { min-height: 40px; }

.section-2 {
    .thumbnail {
        border: none;
        border-radius: 0px;
        padding: 0;
    }
}

//scss for blog-individual
 .data-individual {
    padding: 7px 20px;
}
.blog-individual-1{
      width: 100%;
    img {
        width: 100%;
      padding-bottom: 30px;
    }
}
.middle-title {
    font-size: 50px;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    padding: 40px 0 0;
}
.section-common{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   width: 100%;
   height: 100vh;
}

.section-1-img {
  margin-top: -110px;
  background-image: url("../img/sections.jpg");
  position: relative;
}

.sec-content { @include position(absolute,40% null null 12%); }

.bg-img-sec2 { background-image: url("../img/section2.jpg"); }

.bg-img-sec2 { background-image: url("../img/section2.jpg"); }
  

//scss for about_us section-2
.about_us-img {
    background-image: url("../img/about_us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin-top: -94px;
    height: 500px;
}

//scss for home .section-1
.section-1-img {
   margin-top: -110px;
   background-image: url("../img/sections.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   position: relative;
   height: 100vh;
}

.sec-content { @include position(absolute,40% null null 12%); }
.bg-img-sec2 {
    background-image: url("../img/section2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

//scss for map-calculator
.bg-calculator {
    background: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -110px;
}
.heading-calculator {
    margin-top: 250px;
    padding: 0 35px;
}
.map-content {
    background-color: white;
    padding: 35px;
    margin: 25px 30px 0px 30px;
}
.map-form {
    color: $brand-primary;
    font-size: 18px;
}

.map-border { border: 1px solid $brand-primary; }

.btn-map {
    background-color: $brand-primary;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.map-block-1 { padding-bottom: 30px; }

.map-block-2 { padding: 0px 40px 20px 40px; }

.img-map { width: 100%; }

.sub-content { padding: 0 30px; }

.icon-details {
    padding: 0px 28px;
    text-align: justify;
}

//scss for suppprt-dfm
.bg-support-dfm {
    background: url("../img/Support.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -110px;
}

.support-heading { padding-top: 200px; }

.support-content {
    background-color: white;
    padding: 60px;
    margin: 30px 30px 0px 30px;
}

.support-list {
    margin: 12px 0 10px;
    font-size: 17px;
    color: $brand-primary;
    display: inline-block;
}

.p-78 { padding: 0 78px; }

.p-40 { padding: 0 40px; }

.support-icon {
    margin: 0 auto;
    width: 110px;
    img { width: 100%; }
}

.btn-support {
    &:hover {
        background: lighten($color: $brand-primary, $amount: 10%);
        color: white;
    }
    background: $brand-primary;
    color: white;
    border: none;
    font-size:18px;
    font-weight: bold;
}

.mt20 {
    margin-top: 20px;
}

.list-2 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mt-250 {
    margin-top: 250px;
}

.support-2 {
    margin-top: 70px;
}

.support-3 {
    margin-top: 50px;
}

.makeActive {
    padding: 40px 0px;
    .active {
        p {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 80px;
                height: 2px;
                left: 50%;
                @include transform(translate(-50%));
                bottom: -5px;
                background-color: #369581;
            }
        }
    }
}

//scss for service
.m-50 {
    margin-top: 50px;
}

.capture {
    margin: 30px 0px;
}

.btn-register {
    padding: 5px 40px;
}

.bg-service {
    background: url("../img/Services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -110px;
}

.service-drone {
    padding: 40px 0;
}

.drones-section {
    margin-top: 65px;
}

.service-data {
    padding: 0 30px;
}

.deploy {
    padding-top: 15px;
}

.img-drafting {
    margin: 5px auto;
    width: 90px;
}

.service-btn {
    &:hover {
        background: lighten($color: $brand-primary, $amount: 10%);
        color: white;
    }
    background: $brand-primary;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.font-drone {
    font-size: 21px;
    font-weight: bold;
    color: $brand-primary;
}

.drone-heading {
    font-size: 45px;
    margin: 0;
    font-family: 'Share Tech', sans-serif;
}

.btn-p {
    padding: 6px 33px;
}

//scss for how-we-work
.bg-work {
    background: url("../img/work.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -110px;
}
.work-container {
    background: white;
    padding: 60px 60px 0px 60px;
    margin-top: 20px;
}

.step {
    font-size: 27px;
    color: white;
    background: $brand-primary;
    padding: 0px 12px;
    margin: 0;
    font-family: share tech;
    display: inline-block;
}

.w-50 { width: 40%;}

.w-60 { width: 70%; }

.worklogo {
    margin: 80px auto;
    width: 400px;
}

.img-step1 {
    width: 90px;
    padding-bottom: 75px;
    padding-right: 10px;
    margin: 0;
}

.img-step1b {
    width: 90px;
    padding-right: 10px;
    padding-top: 50px;
}

//scss for mycart
.bg-mycart {
    background: url("../img/mycart.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -110px;
}

.mycart-heading {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: share tech;
    padding-top: 230px;
}

.mycart-container {
    padding: 43px;
}

.mycart-row {
    background-color: #76D7C4;
}

.mycart-content {
    .table>thead>tr>th {
        font-size: 25px;
        color: white;
        font-family: share tech;
        text-align: center;
        font-weight: 400;
        padding: 10px 0 !important;
        border-top: 3px solid #ddd;
    }
    .table {
        margin-bottom: 5px;
    }
    .table>tbody>tr>td {
        text-align: center;
        font-size: 20px;
        color: $brand-primary;
        padding: 22px 0px;
        width: 70px;
        border-bottom: 3px solid #ddd;
    }
    .table>tfoot>tr>td {
        font-size: 24px;
        color: #0B5345;
        font-weight: bolder;
        padding: 22px 0px;
    }
    .mycart-row1 {
        background: white;
    }
}

.btn-back {
    font-size: 22px;
    font-weight: bold;
    padding: 8px 65px;
    border: none;
    margin-right: 10px;
}

.btn-checkout {
    font-size: 22px;
    font-weight: bold;
    padding: 8px 50px;
    border: none;
}

.total {
    padding-left: 65px !important;
}

.qty-detail {
    .form-control {
        width: 22%;
        height: 30px;
        padding: 6px 8px;
        font-size: 20px;
        display: inline-block;
        text-align: center;
        color: $brand-primary;
        border-color: $brand-primary;
    }
    .fa {
        font-size: 20px;
        vertical-align: middle;
        cursor: pointer;
        margin: 0 2px;
    }
}

//scss for member-page1
.bg-memberpage1 {
    background: url("../img/memberpage1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -110px;
}

.member-p-50 {
    padding: 50px;
}

.member-p-20 {
    padding: 20px 0px;
}

.member-container {
    background: white;
    margin: 10px 30px 40px 30px;
}

.member-table {
    tr:nth-child(12n) {
        td {
            border-bottom-color: transparent;
        }
    }
    tr:last-child {
        td {
            padding-bottom: 45px;
        }
    }
    .table>thead>tr>th {
        padding-left: 20px;
        font-size: 25px;
        color: $brand-primary;
    }
    .table>tbody>tr>td {
        font-size: 20px;
        color: $brand-primary;
        padding-left: 20px;
    }
    ul {
        padding: 20px;
    }
}

.btn-addto {
    padding: 5px 45px;
}

.btn-start {
    padding: 5px 35px;
}

.member-font-1 {
    font-size: 39px;
    font-family: share tech;
    color: white;
}

.available-font {
    font-size: 71px;
    font-weight: bold;
    color: white;
    font-family: 'Share Tech', sans-serif;
    letter-spacing: 2px;
}

.btn-become {
    &:hover {
        background: lighten($color: $brand-primary, $amount: 10%);
        color: white;
    }
    font-size: 32px;
    font-family: share tech;
    padding: 0px 45px;
    color:$brand-primary;
    background: white;
}

.p-80 {
    padding-bottom: 80px;
}
//scss fot tems
.bg-tems {
    background: url("../img/memberpage1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -110px;
}

.tems-container {
    background: white;
    padding: 20px;
}

//scss for member 
.dropdown-member {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #A0EFDF;
}
  .dropdown-margin { margin-top: 30px;}

.dropdown-menu{ width: 100%; }

.member-form-m30{  margin-top: 35px; }

.member-right{ margin-right:10px; }

.coupon-box{
    padding: 0px 15px;
    border: 1px solid $brand-primary;
}
.signup-container {
    background: white;
    margin: 10px 35px 70px 35px;
}
.member-input {
    border: none;
    border-bottom: 1px solid #A0EFDF;
    color: grey;
    font-size: 20px;
    font-family: share tech;
    padding-top: 10px;
    width: 100%;
}

.member-col {
    .form-group {
        input {
            &:focus {
                outline: none;
            }
        }
        select {
            &:focus {
                outline: none;
            }
        }
    }
    margin: 35px;
}

.member-form {
    margin: 35px;
    padding: 30px 0 50px 0;
}

.member-select {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #A0EFDF;
    -webkit-appearance: none
}

.member-position {
    position: relative;
}

.member-arrow {
    &:before {
    content: "\f0d7";
    font-size: 30px;
    color: $brand-primary;
    }
    position: absolute;
    right: 0px;
    top: -10px; 
}
//scss for modal login
.modal-heading {
    color: white;
}

.modal-header {
    background-color: $brand-primary;
}

.login-modal {
    padding: 0 40px 25px;
    .modal-content {
        margin: 35% auto;
        width: 50%;
        border: none;
    }
}

.login-modal .form-group {
    input {
        &:focus {
            outline: none;
        }
    }
}

@import "fancybox-override";
@import "ruchi";
@import "mobile";