<div class="bg-img">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center heading-about">
                    <h1>about unifli</h1>
                    <h2>Give your Business Wings, power it up and watch it lift-off! It's that simple</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-justify">
                            <p>with UNIFLI,you can levarage the latest in technology to add an edge to your business.</p>
                            <p>UNIFLI was established in 2015 to help thousand of small,medium and enterprise business owner
                            use the power of drones to boost their operations and achieve sky high level of efficienc, with minimal interfaces and intervention.</p>
                        </div>
                        </div>
                    </div>
                    <h2>Here's our story.</h2>
                    <button type="button" class="btn-10">Click here</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block-2">
            <div class="row">
                <h2 class="text-center">the men behind the machine</h2>
                <div class="col-md-6">
                    <div class="scott">
                        <div class="photo">
                            <img src="../img/2.png" alt=""></img>
                            <h2>Scott</h2>
                        </div>
                        <p class="text-justify">With over 2 decades of surveying experience under his belt, Scott has extensively experimented with
                            new technologies and tools in his lifelong quest for increased accuracy. His love for drones
                            and remotely operated aerial vehicles transcends UNIFLI. An avid hobbyist for over 30 years,
                            Scott has handled all forms of aerial vehicles, from fixed wing and multi-rotor machines to helicopters.
                            As one of the founders of UNIFLI, Scott handles system integration with a focus on land surveying,
                            using his knowledge of cutting edge aerial technology to amp up accuracy levels across the product
                            lineup.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alex">
                        <div class="photo">
                            <img src="../img/1.png" alt=""></img>
                            <h2>Alex</h2>
                        </div>
                        <p class="text-justify">A familiar face in the aerial surveying industry, Alex has been involved with surveying and mapping
                            for over 3 decades, relentlessly improving the usability and effectiveness of drones. Passionate,
                            resourceful and innovative, Alex collaborates with highly acclaimed engineers and developers
                            from around the world to create intuitive solutions for surveyors everywhere. UNIFLI is his latest
                            obsession, and he’s joined hands with Scott as one of the founders to redefine the idea of surveying,
                            globally.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>