<div class=" product aboutus ">
    <div class="container">
<div class="layers product-type">
<div class="story-one clearfix">
    <div class=" pull-left">
<div class="rounded">
    <div class="story-img motor">

    </div>
    <div class="story-info">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur reiciendis doloremque, magnam. Veritatis, possimus labore earum, consequatur cumque sed voluptas iste neque dignissimos sequi repellendus doloremque architecto saepe. Debitis, suscipit?</p> 
    </div>
</div>
    </div>
</div>




</div>
    </div>


</div>