<div class="blog-img">
    <div class="text-center blog-title">
        <h1>blog</h1>
    </div>
    <div class="container main-content">
        <div class="text-center">
        <form class="form-inline">
         <div class="input-group blog-relative">
         <input type="text" class="form-control blog-input m-l" placeholder="">
         <div class="input-group blog-absolute">
         <button class="btn blog-btn" type="submit">Categories</button>
         </div>
         </div>
          <div class="input-group blog-relative">
          <input type="text" class="form-control blog-input" placeholder="">
         <div class="input-group blog-absolute">
         <button class="btn blog-btn" type="submit">Archives</button>
         </div>
         </div>
        </form>
        </div>
        <div class="blog-img-1">
            <img src="img/b5.jpg" alt=""></img>
        </div>
        <div class="row">
        <div class="text-center serveying">
            <h3>SURVEYING BY DRONE FROM A MOVING VEHICLE</h3>
            <p class="sep-22">September 22 2016</p>
            <div class="btn btn-view">View Post</div>
        </div>
         </div>
        <div class="row text-center section-2 member-p-20-2">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="img/b2.jpg" alt=""></img>
                    </div>
                    <p class="august">August 24 ,2016</p>
                    <h5 class="h35">WHAT IS THE FAA DRONE TEST LIKE</h5>
                    <div class="btn btn-view">View Post</div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="img/b3.jpg" alt=""></img>
                    </div>
                    <p class="august">August 24 ,2016</p>
                    <h5 class="h35">WHAT A SURVEYOR NEED TO KNOW TO START MAPPYING BYDRONE</h5>
                    <div class="btn btn-view">View Post</div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="img/b4.jpg" alt=""></img>
                    </div>
                    <p class="august">August 24 ,2016</p>
                    <h5 class="h35">THE KEY TO SUCCESS WITH DRONES</h5>
                    <div class="btn btn-view">View Post</div>
                </div>
            </div>
        <div class="blog-img-1">
            <img src="img/b5.jpg" alt=""></img>
        </div>
            <div class="row">
                <div class="text-center serveying">
                    <h3>SURVEYING BY DRONE FROM A MOVING VEHICLE</h3>
                    <p class="sep-22">September 22 2016</p>
                    <div class="btn btn-view">View Post</div>
                </div>
            </div>
        <div class="row text-center section-2 member-p-20-2">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="img/b2.jpg" alt=""></img>
                </div>
                <p class="august">August 24 ,2016</p>
                <h5 class="h35">WHAT IS THE FAA DRONE TEST LIKE</h5>
                <div class="btn btn-view">View Post</div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="img/b3.jpg" alt=""></img>
                </div>
                <p class="august">August 24 ,2016</p>
                <h5 class="h35">WHAT A SURVEYOR NEED TO KNOW TO START MAPPYING BYDRONE</h5>
                <div class="btn btn-view">View Post</div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="img/b4.jpg" alt=""></img>
                </div>
                <p class="august">August 24 ,2016</p>
                <h5 class="h35">THE KEY TO SUCCESS WITH DRONES</h5>
                <div class="btn btn-view">View Post</div>
            </div>

        </div>
    </div>
</div>