<div class="bg-work">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center support-heading">
                    <h1>how we work</h1>
                    <div class="text-justify">
                        <h4 class="text-center">Houseton, we've got it covered</h4>
                        <p>Great solutions are almost intuitive, solving problems that nobody can anticipate. </p>
                        <p>UNIFLI does just that - we’re hyper aware of all the pain points involved in drone data creation and management, and our services are tied together to ease them. There’s a hidden beauty in seamless processes, and that’s the magic we add to our special line-up of services at UNIFLI. Here’s how we work. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="work-container">
            <div class="row">
                <div class="col-md-10">
                    <div class="inline-block img-step1">
                    <img src="/img/work3.png" class="img-responsive">
                    </div> 
                    <div class="step-1a inline-block w-50">
                    <p class="step step-right">step 1a</p>
                    <h5>get adrone</h5>
                    <p class="m-0 text-justify">Choose from our range of<a href=""> cutting edge surveying machines.</a> Our support stuff will help you find a drone that’s engineered to satisfy your needs. All the drones in the UNIFLI lineup are tested and adhere to FAA regulations.</p>
                   </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>

                <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <div class="step-1b inline-block w-50 float-r">
                     <p class="step step-left">step 1b</p>
                    <h5>have a drone already?</h5>
                    <p class="m-0 text-justify">UNIFLI offers a range of drone data management services to help you convert the data to any format you need. Generate reports and get high quality orthomosaics and CAD drafting done with your data, with lightning fast turnarounds. All you have to do is <a href="">sign up!</a></p>
                    </div>
                    <div class="inline-block float-r img-step1b"">
                    <img src="/img/work4.png" class="img-responsive">
                    </div>
                </div>
                </div>

                <div class="row">
                <div class="col-md-10">
                    <div class="inline-block img-step1">
                    <img src="img/work2.png" class="img-responsive">
                    </div> 
                    <div class="step2  inline-block w-50">
                    <p class="step step-right">step 2</p>
                    <h5>receive your coupon code</h5>
                    <p class="m-0 text-justify">Get a UNIFLI coupon code on every purchase, and get special discounts on our drone data management services. Create accurate orthomosaics, 3D elevation models, elevation extractions (DEMs) and NDVI from your captured drone data, all within a few clicks!</p>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>

                <div class="row">
                 <div class="col-md-6">
                  <div class="worklogo">
                    <img src="img/worklogo.png" class="img-responsive">  
                  </div>
                 </div>
                 <div class="col-md-6">
                    <div class="step3  inline-block w-60 float-r">
                    <p class="step step-left">step 3</p>
                    <h5>check out our CAD services</h5>
                    <p class="m-0 text-justify">Capturing drone data is the easier part, but how do you get professional CAD drafting done for the land and sites you’ve surveyed? This is where we go the extra mile. It’s easy!</p>
                    <p class="text-justify">Sign in, use the inbuilt <a href="">Google Maps Area Calculator</a> to select the exact area you need drafting help with, upload a photo and send us a CAD request. In under 36 hours, you’ll receive your file for a quick download!</p>
                    <p class="text-justify">Really, it’s that simple.</p>
                    </div>
                    <div class="inline-block float-r img-step1b">
                    <img src="img/work1.png" class="img-responsive">
                    </div> 
                 </div>   
                </div>
                </div>
            </div>
        </div>
    </div>
</div>