<div class="bg-memberpage1">
    <div class="container p-80">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center support-heading">
                    <h1>membership</h1>
                    <div class="text-justify">
                        <h2>Together, we can conquer the skies.</h2>
                        <p>Every business needs an edge to stay ahead of the curve.  In a highly competitive market, a strong technological advantage is the only ideal factor that growing businesses can leverage - and that’s why you should partner with the best!</p>
                        <p>At UNIFLI, we believe in disruption. UNIFLI was born out of an unreasonable refusal to accept the status quo, making it the perfect marriage that your business needs to outpace the competition.</p>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="member-container member-p-50">
        <div class="text-center">
        <h2>Why partner with UNIFLI?</h2>
        <p class="member-f-28">Thoreau said ‘Simplify, Simplify’ and we agree.</p>
       </div>
       <div>
        <p>Why waste time interfacing with multiple vendors, when you can simplify the solution?
        UNIFLI is your one stop shop for everything from buying drones to getting world class image processing and CAD support. With our end to end services, reduce overheads and increase efficiency internally, powering through while your competitors face the dust. </p>
        <p>Not just that, UNIFLI allows easier and in-depth drone data analysis through its automated features for members.</p>
        <p>As a member, you’ll have immediate access to all our premium services.</p>
        <div></div>
        <div></div>
        <p></p>
        <p></p>
       </div>

       <div class="row">
           <div class="col-md-2">
               <img src="" class="img-responsive">
               <p>orthomosaic</p>
           </div>
            <div class="col-md-2">
               <img src="" class="img-responsive">
               <p>DIV</p>
           </div>
            <div class="col-md-2">
                <img src="" class="img-responsive">
               <p>NDIV</p>
           </div>
            <div class="col-md-2">
                <img src="" class="img-responsive">
               <p>DSM/DEM</p>
           </div>
            <div class="col-md-2">
                 <img src="" class="img-responsive">
               <p>3D Model</p>
           </div>
            <div class="col-md-2">
                 <img src="" class="img-responsive">
            <p>KMZ Expert</p>
           </div>
           <div class="col-md-2">
                <img src="" class="img-responsive">
            <p>Point Cloud</p>
           </div>
           <div class="col-md-2">
               <img src="" class="img-responsive">
            <p>Volume Calculator</p>
           </div>

           <div class="col-md-2">
               <img src="" class="img-responsive">
            <p>CAD support</p>
           </div>
       </div>
       <p></p>
       <p></p>
    </div>

    <div class="row">
        <p class="available-font text-center">available planes</p>
    </div>

        <div class="member-container">
            
<div class="member-table">           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>TRIAL <br>PRICE:0.00</th>
        <th>STANDARD<br> PRICE:99.00</th>
        <th>PREMIUM<br> PRICE:199:00</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="font-bold">Limit Name</td>
        <td class="font-bold">USAGE LIMIT</td>
        <td class="font-bold">USAGE LIMIT</td>
        <td class="font-bold">USAGE LIMIT</td>
      </tr>
      <tr>
        <td class="font-bold">Imitation (per month)</td>
        <td>0</td>
        <td>15</td>
        <td>25</td>
      </tr>
      <tr>
        <td class="font-bold">Mission (total)</td>
        <td>20</td>
        <td>50</td>
        <td>100</td>
      </tr>
       <tr>
        <td class="font-bold">Update(max photo count)</td>
        <td>500</td>
        <td>500</td>
        <td>500</td>
      </tr>
       <tr>
        <td class="font-bold">Update(max photo)</td>
        <td>20</td>
        <td>50</td>
        <td>100</td>
      </tr>
       <tr>
        <td class="font-bold">Mosaic (per month)</td>
        <td>5</td>
        <td>10</td>
        <td>15</td>
      </tr>
       <tr>
        <td class="font-bold">Mosaic (resolution cm/px)</td>
        <td>15</td>
        <td>15</td>
        <td>25</td>
      </tr>
       <tr>
        <td class="font-bold"> Export KMZ</td>
        <td>False</td>
        <td>True</td>
        <td>True</td>
      </tr>
      <tr>
        <td class="font-bold">Export orthophotos</td>
        <td>True</td>
        <td>True</td>
        <td>True</td>
      </tr>
      <tr>
        <td class="font-bold">Export DEM</td>
        <td>False</td>
        <td>True</td>
        <td>True</td>
      </tr>
      <tr>
        <td class="font-bold">Export point cloud</td>
        <td>Talse</td>
        <td>Talse</td>
        <td>True</td>
      </tr>
      <tr>
        <td class="font-bold">Unlimited Used App</td>
        <td>
            <ul>
            <li>Raw Image Store</li>
            <li>Orthomosaic</li>
            <li>Crop</li>
            <li>3D Model</li>
            <li>DME</li>
            <li>NDVI</li>
            <li>Dvi</li>
            <li>Topographic Map 1 Meter</li>
            <li>Shape File Export</li>
            <li>Volume Calculator</li>
            <li>KMZ Export</li>  
            <li>Point Cloud</li> 
            <li>Leaf Area Index</li>
            <li>Management Zones</li> 
            <li>NGB False Color</li>
            <li>Water Drainage Map </li>
            <li>Emergency Uniformity</li>
            </ul>
        </td>
        <td><ul>
            <li>Raw Image Store</li>
            <li>Orthomosaic</li>
            <li>Crop</li>
            <li>DME</li>
            <li>NDVI</li>
            <li>Dvi</li>
            <li>Topographic Map 1 Meter</li>
            <li>Shape File Export</li>
            <li>Volume Calculator</li>
            <li>KMZ Export</li>  
            <li>3d model</li>
            <li>3d PDF</li>
            <li>Point Cloud</li> 
            <li>Leaf Area Index</li>
            <li>Management Zones</li> 
            <li>Emergency Uniformity</li>
            <li>Ground Refinement Point<br>(GRP)</li>
            </ul>
        </td>
        <td><ul>
            <li>Raw Image Store</li>
            <li>Orthomosaic</li>
            <li>Crop</li>
            <li>DME</li>
            <li>NDVI</li>
            <li>Dvi</li>
            <li>Topographic Map 1 Meter</li>
            <li>Shape File Export</li>
            <li>Volume Calculator</li>
            <li>KMZ Export</li>  
            <li>3d model</li>
            <li>3d PDF</li>
            <li>Point Cloud</li> 
            <li>Leaf Area Index</li>
            <li>Management Zones</li> 
            <li>NGB False Color</li>
            <li>Water Drainage Map</li>
            <li>Emergency Uniformity</li>
            <li>Ground Refinement Point<br>(GRP)</li>
            <li>Weedspray</li>
            </ul>
           </td>
     </tr>
      <tr>
          <td></td>
          <td><button type="submit" class="btn btn-default service-btn btn-start">start a free trial</button></td>
          <td><button type="submit" class="btn btn-default service-btn btn-addto">add to card</button></td>
          <td><button type="submit" class="btn btn-default service-btn btn-addto">add to card</button></td>
      </tr>
    </tbody>
  </table>
</div>

    </div>

    <div class="text-center">
    <p class="member-font-1">Have a couple code on your drone purchase?</p>
    <div>
    <button type="submit" class="btn btn-become">Become a member today</button>
    </div>
   </div>

</div>
</div>