<div class="bg-memberpage1">
    <div class="container">
        <div class="text-center support-heading">
                    <h1>become a member</h1>
        </div>
        <div class="signup-container">
              <form>

                <div class="member-form">
                    <div class="row">
                <div class="col-md-6">
                    <div class="member-col">
                       <div class="form-group">
                      <input type="text" placeholder="Name" value="" class="member-input">
                       </div>
                        <div class="form-group">
                            <input type="text" placeholder="Organization" value="" class="member-input">
                        </div>
                        <div class="form-group">
                             <input type="text" placeholder="Phone" value="" class="member-input">
                        </div>
                        <div class="form-group">
                             <input type="text" placeholder="Address" value="" class="member-input">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="State" value="" class="member-input">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Website" value="" class="member-input">
                        </div>
                        <div class="form-group radio member-form-m30">
                         <p class="inline-block">Do You Have UNIFLI Drone?</p>
                         <input  type="radio" id="radio1" name="radio" value="yes"/>
                  <label for="radio1" class="pl-10">
                    <span></span> Yes </label>
                    <input type="radio" id="radio2" name="radio" value="no"  />
                 <label for="radio2">
                    <span></span> No </label>
                        </div>
                        <div class="form-group dropdown-margin">
                             <!--<i class="fa fa-caret-down member-arrow" aria-hidden="true"></i>-->
                            <select name="" id="" class="dropdown-member">
                                <option selected="true" disabled>plan</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                          <!--<div class="dropdown">
                            <button class="btn dropdown-member dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="fa fa-caret-down member-arrow" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                            </div>-->
                        </div>
                        <div class="form-group checkbox">

                            <input type="checkbox" value="" id="agree">
                              <label class="checkbox-inline" for="agree"><span></span>I agree with all terms and conditions and privacy policy
                            </label>
                        </div>
                        </div>
                </div>
                <div class="col-md-6">
                <div class="member-col">
                    <div class="form-group">
                      <input type="text" placeholder="Email" value="" class="member-input">
                       </div>
                        <div class="form-group">
                            <input type="text" placeholder="Designation" value="" class="member-input">
                        </div>
                        <div class="form-group">
                             <input type="text" placeholder="Mobile" value="" class="member-input">
                        </div>
                        <div class="form-group">
                             <input type="text" placeholder="City" value="" class="member-input">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Zip" value="" class="member-input">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Type of Drone" value="" class="member-input">
                        </div>
                        <div class="form-group member-form-m30">
                         <p class="inline-block member-right">Do You Have coupon?</p>
                        <input type="text" class="coupon-box" placeholder="Coupon Code">
                        </div>
                        <div class="form-group">
                           <input type="text" placeholder="$500" value="" class="member-input">
                        </div>
                </div>
                </div>
                 </div>
                   <div>
                 <button type="submit" class="btn btn-main">Submit</button>
                 </div>
                  </div>

            </form>
        </div>
    <div>
</div>
