<div class="bg-memberpage1">
    <div class="container">
        <div class="text-center support-heading">
                    <h1>become a member</h1>
        </div>
        <div class="signup-container">
              <form>
                
                <div class="member-form"> 
                    <div class="row">  
                <div class="col-md-6">
                    <div class="member-col">
                       <div class="form-group">
                      <input type="text" placeholder="name" value="" class="member-input">
                       </div>
                        <div class="form-group">
                            <input type="text" placeholder="Organization" value="" class="member-input">
                        </div>
                        <div class="form-group">
                             <input type="text" placeholder="Phone" value="" class="member-input">
                        </div>
                        <div class="form-group">
                             <input type="text" placeholder="Address" value="" class="member-input">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="state" value="" class="member-input">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Website" value="" class="member-input">
                        </div>
                        <div class="form-group">
                         <p class="inline-block">Do You Have UNIFLI Drone?</p>
                        <label class="radio-inline">
                        <input type="radio" name="optradio">Yes
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="optradio">No
                        </label>
                        </div>
                        <div class="form-group">
                          <div class="dropdown">
                            <button class="btn dropdown-member dropdown-toggle" type="button" data-toggle="dropdown">       
                            <i class="fa fa-caret-down member-arrow" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                             </div>
                            <p>I agree with all terms and conditions and privacy policy</p>
                        </div>
                        </div>
                </div>
                <div class="col-md-6">
                <div class="member-col">
                    <div class="form-group">
                      <input type="text" placeholder="Email" value="" class="member-input">
                       </div>
                        <div class="form-group">
                            <input type="text" placeholder="Designation" value="" class="member-input">
                        </div>
                        <div class="form-group">
                             <input type="text" placeholder="Mobile" value="" class="member-input">
                        </div>
                        <div class="form-group">
                             <input type="text" placeholder="City" value="" class="member-input">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Zip" value="" class="member-input">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Type of Drone" value="" class="member-input">
                        </div>
                        <div class="form-group">
                         <p class="inline-block">Do You Have coupon?</p>
                        <input type="text" name="" placeholder="Coupon Code">
                        </div>
                        <div class="form-group">
                           <input type="text" placeholder="$500" value="" class="member-input">
                        </div>
                </div>
                </div>
                 </div>
                   <div>
                 <button type="submit" class="btn btn-default btn-main">Submit</button>
                 </div>
                  </div>
                  
            </form>
        </div>
    <div>
</div>