<div class="product">
    <div class="container">
        <div class="product-type text-center">
<div class="drone-image">
    <img src="img/worklogo.png" class="img-responsive" alt="drone">
    </div>
    <div class="drone-info">
        <h2>drone</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit perspiciatis temporibus dicta ea officia et soluta quo odit provident sed molestiae facilis, doloribus nulla, illum cum unde tenetur inventore ducimus.</p>
    </div>

        </div>

    </div>

</div>