




<div class="product">
    <div class="container">
        <div class="product-type text-center">
<div class="drone-image">
    <img src="img/product/drone.png" class="img-responsive" alt="drone">
    </div>
    <div class="drone-info">
        <h2>FC-250</h2>
<p>Engineered to redefine precision and endurance, the Lazer is our flagship survey and inspection
platform. Armed with a rapid deployment mechanism and the latest technology, this revolutionary
quadcopter features an innovative design that adds effortless portability, faster flight and added
durability for an all-round machine that underlines efficiency.</p>
    </div>

        </div>

        <div class="video text-center">
            <p>watch the product film</p>
        </div>
        <div class="features">
            <div class="feature-min">
     <div class="row-flex ">
<div class="col-flex text-center">
    <div class="feature-img flight">
    </div>
    <div class="feature-text">
        <p>Flight Time With
Payload 40 minutes+</p>
    </div>
</div>
<div class="col-flex text-center">
    <div class="feature-img propeller">
    </div>
    <div class="feature-text">
        <p>Flight Time With
Payload 40 minutes+</p>
    </div>
</div>
<div class="col-flex text-center">
    <div class="feature-img motor">
    </div>
    <div class="feature-text">
        <p>Flight Time With
Payload 40 minutes+</p>
    </div>
</div>
            </div>
                 <div class="row-flex">
<div class="col-flex text-center">
    <div class="feature-img weight">
    </div>
    <div class="feature-text">
        <p>Flight Time With
Payload 40 minutes+</p>
    </div>
</div>
<div class="col-flex text-center">
    <div class="feature-img autonomous">
    </div>
    <div class="feature-text">
        <p>Flight Time With
Payload 40 minutes+</p>
    </div>
</div>
            </div>
            </div>
            <div class="feature-images">
                <div class="row-flex">
                    <div class="col-flex">
              <div class="images drone1"></div>
                    </div>
                    <div class="col-flex">
 <div class="images drone2"></div>
                    </div>
                    <div class="col-flex">
 <div class="images drone3"></div>
                    </div>
                    <div class="col-flex">
                         <div class="images drone4"></div>
                    </div>
                </div>
                <div class="row-flex">
                    <div class="col-flex">
 <div class="images drone5"></div>
                    </div>
                    <div class="col-flex">
 <div class="images drone6"></div>
                    </div>
                    <div class="col-flex">
 <div class="images drone7"></div>
                    </div>
                    <div class="col-flex">
 <div class="images drone8"></div>
                    </div>
                </div>
            </div>
            <div class="ext-spec">
                <h2 class="text-center">extended specifications</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Aircraft</h2>
                        <ul>
                            <li>Foldable custom hard shell case, with carbon frame</li>
                            <li>Full carbon 30mm tube arms</li>
                            <li>Resonance resistant mainframe (carbon glass fiber sandwich technology)</li>
                            <li>2mm carbon glass fiber mainframes</li>
                            <li>3mm carbon glass fiber inertic battery/camera plate</li>
                            <li>Pure ABS to 30% glass fiber reinforced plastic blend #material</li>
                            <li>4X or 8X 380KV failsafe redundant motors</li>
                            <li>Durable 850mm frame with 15” props that withstands wind upto 20 knots</li>
                            <li>45 minute flight time, with battery payload</li>
                            <li>Tattu 16000mAh batteries, with battery charger</li>
                            <li>Long range telemetry radios</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                          <h2>Additional Features</h2>
                        <ul>
                            <li> Flytrex blackbox recording of all missions</li>
                            <li>Built in accordance with FAA regulations for flight tracking, recording and lighting</li>
                            <li>Advanced ground control station with easy pilot #autonomous learning curve</li>
                            <li>Scalable design with efficient upgrading capabilities</li>
                            <li>Preprogrammed autopilot module</li>
                            <li>Windows 10 Pro equipped Ground Control station with Intel NUC i5 system</li>
                            <li>Pre-installed mission planning software for complete flight planning</li>
                        </ul>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-6">
                         <h2>Camera</h2>
                        <ul>
                            <li>Single forward facing FPV camera</li>
                            <li>Sony QX1 custom 20MP camera, with high definition (or)</li>
                            <li>A6000 custom camera</li>
                            <li>Superior 20mm Sony lens</li>
                            <li>2-axis aluminium precision gimbal support for intricate detail and stability</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                         <h2>GPS</h2>
                        <ul>
                            <li> Septentrio L1/L2/L5/GLONASS PPK GPS integrated for millimetre accuracy</li>
                            <li>GeoTagz software integrated for GPS tagging and immediate cloud uploads</li>
                        </ul>
                    </div>
                </div>
            </div>

       
        </div>
        <div class="package">
         <div class="tab">
                  <ul class="list-inline row-flex">
                      <li class="tab-item  pointer relative col-flex {{classa}}" ng-click="tabchange('design',1)">
                        <p class="text-uppercase">Package 1</p>
                        <span>UAV ONLY (Default)</span>
                     </li> 

                     <li class="tab-item  pointer relative  col-flex {{classb}}" ng-click="tabchange('trim',2)">               
                        <p class="text-uppercase"> Package 2</p>
                           <span>UAV WITH SINGLE ROVER</span>
                     </li>

                     <li class="tab-item  pointer relative  col-flex {{classc}}" ng-click="tabchange('team',3)">
                        <p class="text-uppercase">Package 3</p>
                           <span>UAV WITH DUAL ROVERS</span>
                     </li>
                  </ul>
               </div>
                        <div class="design" ng-show="tab=='design'">
              <h2></h2>
              <div class="uav-inner">
<h3>comes with:</h3>
              <ul>
                  <li>UAV WITH DUAL ROVERS</li>
                  <li>UAV WITH DUAL ROVERS</li>
                  <li>UAV WITH DUAL ROVERS</li>
              </ul>
              </div>
              <div class="uav-inner">
<h3>comes with:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nulla.</p>
              </div>
              <div class="uav-inner">
<h3>comes with:</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, nesciunt.</p>
              </div>
            <button class="button">buy now</button>
             
               </div>
                <div class="design" ng-show="tab=='trim'">
                <p>Lorem accusamus ipsam ipsa distinctio ullam vero, earum voluptate obcaecati, iste asperiores magni laborum nihil optio laudantium facere quis! Nobis.</p>
             
               </div>
                <div class="design" ng-show="tab=='team'">
                <p>Lorem ipsum dolor sit amet, accusamus ipsam ipsa distinctio ullam vero, earum voluptate obcaecati, iste asperiores magni laborum nihil optio laudantium facere quis! Nobis.</p>
             
               </div>
        </div>

    </div>

</div>