
<div class="product">
    <div class="container">
        <div class="product-type text-center">
<div class="drone-image">
    <img src="img/product/drone.png" class="img-responsive" alt="drone">
    </div>
    <div class="drone-info">
        <h2>FC-250</h2>
<p>Engineered to redefine precision and endurance, the Lazer is our flagship survey and inspection
platform. Armed with a rapid deployment mechanism and the latest technology, this revolutionary
quadcopter features an innovative design that adds effortless portability, faster flight and added
durability for an all-round machine that underlines efficiency.</p>
    </div>

        </div>

        <div class="video pointer text-center">
            <p>watch the <span><i class="fa fa-play-circle" aria-hidden="true"></i></span>product film</p>
        </div>
        <div class="features">
            <h1 class="text-center">features</h1>
            <div class="feature-min">
     <div class="row-flex ">
<div class="col-flex text-center">
    <div class="padding-l">
 <div class="feature-img flight">
    </div>
    <div class="feature-text">
        <p>Flight Time With<br>
Payload 40 minutes+</p>
    </div>
    </div>
   
</div>
<div class="col-flex text-center">
    <div class="padding">
 <div class="feature-img propeller">
    </div>
    <div class="feature-text">
        <p>Propellers<br>
4</p>
    </div>
    </div>
   
</div>
<div class="col-flex text-center">
    <div class="padding-r">
  <div class="feature-img motor">
    </div>
    <div class="feature-text">
        <p>Powered By<br>
380KV motors (4x or 8x)</p>
    </div>
    </div>
  
</div>
            </div>
            <div class="pads">
 <div class="row-flex">
<div class="col-flex text-center">
    <div class="padding-l member-p-20-2">
  <div class="feature-img weight">
    </div>
    <div class="feature-text">
        <p>Maximum Weight<br>
8 pounds</p>
    </div>
    </div>
  
</div>
<div class="col-flex text-center">
    <div class="padding-r member-p-20-2">
 <div class="feature-img autonomous">
    </div>
    <div class="feature-text">
        <p>Flight Mode<br>
Autonomous</p>
    </div>
    </div>
   
</div>
            </div>
            </div>
                
            </div>
            <div class="feature-images">
                <div class="row-flex">
                    <div class="col-flex">
              <div class="images drone1"></div>
                    </div>
                    <div class="col-flex">
 <div class="images drone2"></div>
                    </div>
                    <div class="col-flex">
 <div class="images drone3"></div>
                    </div>
                    <div class="col-flex">
                         <div class="images drone4"></div>
                    </div>
                </div>
                <div class="row-flex">
                    <div class="col-flex">
 <div class="images drone5"></div>
                    </div>
                    <div class="col-flex">
 <div class="images drone6"></div>
                    </div>
                    <div class="col-flex">
 <div class="images drone7"></div>
                    </div>
                    <div class="col-flex">
 <div class="images drone8"></div>
                    </div>
                </div>
            </div>
            <div class="ext-spec">
                <h3 class="text-center">Extended Specifications</h3>
                <div class="top-spacing">
                            <div class="row ">
                    
                    <div class="col-md-6">
                        <div class="no-pad">
 <h4>Aircraft</h4>
                        <ul>
                            <li>Foldable custom hard shell case, with carbon frame</li>
                            <li>Full carbon 30mm tube arms</li>
                            <li>Resonance resistant mainframe (carbon glass fiber sandwich technology)</li>
                            <li>2mm carbon glass fiber mainframes</li>
                            <li>3mm carbon glass fiber inertic battery/camera plate</li>
                            <li>Pure ABS to 30% glass fiber reinforced plastic blend #material</li>
                            <li>4X or 8X 380KV failsafe redundant motors</li>
                            <li>Durable 850mm frame with 15” props that withstands wind upto 20 knots</li>
                            <li>45 minute flight time, with battery payload</li>
                            <li>Tattu 16000mAh batteries, with battery charger</li>
                            <li>Long range telemetry radios</li>
                        </ul>
                        </div>
                       
                    </div>
                    <div class="col-md-6">
                         <div class="no-pad">
                          <h4>Additional Features</h4>
                        <ul>
                            <li> Flytrex blackbox recording of all missions</li>
                            <li>Built in accordance with FAA regulations for flight tracking, recording and lighting</li>
                            <li>Advanced ground control station with easy pilot #autonomous learning curve</li>
                            <li>Scalable design with efficient upgrading capabilities</li>
                            <li>Preprogrammed autopilot module</li>
                            <li>Windows 10 Pro equipped Ground Control station with Intel NUC i5 system</li>
                            <li>Pre-installed mission planning software for complete flight planning</li>
                        </ul>
                        </div>
                    </div>
                </div>  
                    </div>
          <div class="top-spacing">

          </div>
                
            </div>
        </div>

    <div class="package">
            <h3 class="text-center">Choose Your Package</h3>
         <div class="tab makeActive-service" ng-init="viewDetail=1">
                
                  <ul class="list-inline row-flex">
                      <li class="package-bg col-flex text-center view-data"  ng-click="viewDetail = 1;" ng-class="{'active': viewDetail==1, '': viewDetail!==1}">
                         <div class="support-icon">
                        <h5 class="text-uppercase">Package 1</h5>
                        <h6>UAV ONLY (Default)</h6>
                         </div>
                     </li> 

                     <li class="package-bg col-flex  text-center  view-data" ng-click="viewDetail=2;" ng-class="{'active': viewDetail==2, '': viewDetail!==2}">               
                         <div class="support-icon">
                           <h5 class="text-uppercase"> Package 2</h5>
                             <h6>UAV WITH SINGLE ROVER</h6>
                         </div>
                     </li>

                     <li class="package-bg col-flex text-center view-data" ng-click="viewDetail=3;" ng-class="{'active': viewDetail==3, '': viewDetail!==3}">
                        <div class="support-icon">
                        <h5 class="text-uppercase">Package 3</h5>
                           <h6>UAV WITH DUAL ROVERS</h6>
                        </div>
                     </li>
                  </ul>
               </div>


            <div class="design" ng-show="viewDetail==1">
               <div class="pack-one text-center">
                   <div class="image-one inline-block">
                    <img src="img/product/image8.png" class="img-responsive" alt="">
                   </div>
                    <div class="image-one inline-block">
                    <img src="img/product/image9.png" class="img-responsive" alt="">         
                   </div>
               </div>
               <div class="pad-overall">
                <h5 class="text-center text-uppercase">uav only</h5>
                <button class="button text-uppercase">buy now</button>
               </div>
            </div>



    <div class="design" ng-show="viewDetail==2">
              <h5>UAV With Single Rovers</h5>
              <div class="uav-inner">
                  <div class="row">
                      <div class="col-md-5">
                          
              <h6>Comes with:</h6>
              <ul>
                  <li>UAV with single rovers</li>
                  <li>Septentrio ALTUS APS3G Smart GPS Antenna</li>
                  <li>Juniper Allegro 2 GPS Field Controller</li>
              </ul>
                      </div>
                     
                      <div class="col-md-7">
                  <ul class="list-inline uav-images">
                  <li><img src="img/product/image8.png" class="img-responsive" alt=""></li>
                  <li><img src="img/product/imagess.png" class="img-responsive" alt=""></li>
                  <li><img src="img/product/image9.png" class="img-responsive" alt=""></li>
                 </ul>
                      </div>
                  </div>
              </div>
              <div class="uav-inner">
              <h6>Septentrio ALTUS APS3G</h6>
              <p>The ALTUS APS3G is a high precision GNSS receiver that’s engineered for efficient and accurate surveying. Experience improved performance, superior battery life, razor sharp accuracy and incredible flexibility as your survey vastly different geographies. The ALTUS APS3G is highly compatible with multiple hardware and software solutions, and delivers high performance for more than a day with just a single battery charge. Comes with Bluetooth functionality, integrated UHF radio and the latest GNSS technology.</p>          
              </div>
              <div class="uav-inner">
             <h6>Juniper Allegro 2</h6>
             <p>Ergonomically styled, with a glove-friendly QWERTY + numeric keyboard that’s perfect for fast data entry and faster processing, the quintessential industry favorite Allegro 2 now comes with upgraded connectivity, battery power, display visibility, and a better touchscreen. Crafted for high volume data collection and maximum efficiency, the Allegro 2 remains the standard for drone data collection and analysis globally.</p>            
              </div>
              <button class="button text-uppercase">buy now</button>
       </div>
               


        <div class="design" ng-show="viewDetail==3">
              <h5>UAV With Dual Rovers</h5>
                <div class="uav-inner">
                  <div class="row">
                      <div class="col-md-5">   
                       <h6>Comes with:</h6>
              <ul>
                  <li>UAV with dual rovers</li>
                  <li>Septentrio ALTUS APS3G Smart GPS Antenna</li>
                  <li>Juniper Allegro 2 GPS Field Controller</li>
              </ul>
                      </div>
                     
                      <div class="col-md-7">
                  <ul class="list-inline uav-images">
                  <li><img src="img/product/image8.png" class="img-responsive" alt=""></li>
                  <li><img src="img/product/imagess.png" class="img-responsive" alt=""></li>
                  <li><img src="img/product/image9.png" class="img-responsive" alt=""></li>
              </ul>
                      </div>
                  </div>
              </div>
              <div class="uav-inner">
              <h6>Septentrio ALTUS APS3G</h6>
              <p>The ALTUS APS3G is a high precision GNSS receiver that’s engineered for efficient and accurate surveying. Experience improved performance, superior battery life, razor sharp accuracy and incredible flexibility as your survey vastly different geographies. The ALTUS APS3G is highly compatible with multiple hardware and software solutions, and delivers high performance for more than a day with just a single battery charge. Comes with Bluetooth functionality, integrated UHF radio and the latest GNSS technology.</p>          
              </div>
              <div class="uav-inner">
              <h6>Juniper Allegro 2</h6>
              <p>Ergonomically styled, with a glove-friendly QWERTY + numeric keyboard that’s perfect for fast data entry and faster processing, the quintessential industry favorite Allegro 2 now comes with upgraded connectivity, battery power, display visibility, and a better touchscreen. Crafted for high volume data collection and maximum efficiency, the Allegro 2 remains the standard for drone data collection and analysis globally.</p>            
              </div>
              <button class="button text-uppercase">buy now</button>  
         </div> 


    </div>

</div>