<div class="bg-support-dfm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center support-heading">
                    <h1>support</h1>
                    <div class="text-justify">
                        <h4 class="text-center">Exceptional support, now made easier.</h4>
                        <p>at UNIFLI's we believe streamline support system that solve all your problem</p>
                        <p>Get first hand support on everything drone related</p>
                         <div class="text-center">
                         <button type="submit" class="btn btn-become">Become a member today</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="container">
         <div class="support-content">
           <h4 class="text-center">how UNIFLIE can help you</h4>
           <div class="">
            <p>Unifli lives to its commitment of ensuring timely support to its customers. With a network of support services, we provide expert technical guidance and help resolve queries at every point. At Unifli, our experienced team offers support pertaining to products, software, accessories etc. The below cited pattern takes you through the process of using our products and get the most benefits of these.</p>
            <p>Resolve technical issues like login trouble, Orthomosaic creation or photo upload issues with our expertise guiding you throughout.</p>
            <p>Along with technical issues, seek assistance for CAD linework issues like Google map calculator, payment gateway issues or issues to do with your DFM login.</p> 
            <p>Manoeuvring your way through the support page has been made simpler with a step-by-step and a how-to guide ensuring you are stuck at no point. Below cited ways will make the use of products as also manage your data is a rather easy manner</p>
           </div>



  <div class="row makeActive" ng-init="viewDetail=1">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center view-data" ng-click="viewDetail = 1;" ng-class="{'active': viewDetail==1, '': viewDetail!==1}">
                    <div class="support-icon">
                    <img src="../img/support-1.png" alt="">
                    </div>
                    <h4>Drone</h4>
                    <p>Find out more about High Precision Drone</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-center view-data" ng-click="viewDetail=2;" ng-class="{'active': viewDetail==2, '': viewDetail!==2}">
                    <div class="support-icon">
                    <img src="../img/support-2.png" alt="">
                    </div>
                    <h4>DFM</h4>
                    <p>How to Create, analyze and Share Data</p>
                </div>
            </div>
            <div class="col-md-4">
              <div class="text-center view-data" ng-click="viewDetail=3;" ng-class="{'active': viewDetail==3, '': viewDetail!==3}">
                    <div class="support-icon">
                    <img src="../img/support-3.png" alt="">
                    </div>
                     <h4>CAD</h4>
                    <p>CAD-Gain Accuracy with Instant Support </p>
                </div>
            </div>
        </div>
      </div>
  </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            <div class="mt20" ng-show="viewDetail==3">
                <div class="text-center">
            <h4>CAD Conversion Support</h4>
                </div>
                <div class="support-list p-78">
             <ul>
             <li>Get on demand CAD drafting done from your orthophotos</li>
             <li>Experience ultimate precision with the Google Map Area Calculator</li>
             <li>Define your target area with editible points and sent instead CAD request</li>
             <li>discover lighting fast topografic solutions with a 36 hour tournaround</li>
             </ul> 
                </div>
                <div class="text-center">
                    <p>When it comes to CAD drafting ,nobody does it better.</p>
                    <p><a href="">Click Here</a> to login and raise a ticket</p>
                </div>
           </div>
           <div class="mt20" ng-show="viewDetail==2">
               <div class="text-center">
                   <h4>DFM Support</h4>
               </div>
                <div class="support-list p-40">
             <ul>
             <li>Curate analyse and organize all your drone data in custom created database layout</li>
             <li>Generate orthorectified and georeferenced maps with high level of accuracy </li>
             <li>Create elevation exctraction ,orthomosaics ,3D elevation models in one click</li>
             </ul> 
                </div>
                <div class="text-center">
                    <p>Need help logging into your Account?</p>
                     <div class="col-sm-offset-3 col-sm-6">
                     <button type="submit" class="btn btn-main">Click here</button>
                     </div>
                </div>
               </div>
              </div>
              <div class="col-md-12">
                <div class="mt20" ng-show="viewDetail==1">
                 <div class="text-center">
                   <h4>Drone Support(FC-250)</h4>
                 </div>
                <div>
                <p>Deploy our high precision drones to add an edge to your surveying tools, taking your operational efficiency and topographic analysis up a few notches.Get to know the operating manuals and procedures of our drone(FC-250) by Blowsing throught downloadble file below </p>
                <p>The Content will be helpful in gaining thorough undestanding o our drone and serve as a fundamental source for using the product.By clicking the below icons you will to taken to the respective area providing you a holistick view of our drone and it's technical competency.</p>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                        <div class="support-list">
                    <ul class="list-2">
                 <li><img src="img/PDF.png" alt="" >Set up</li>
                 <li><img src="img/PDF.png" alt="">Assembly</li>
                 <li><img src="img/PDF.png" alt="">Mission Planning</li>
                   </ul> 
                        </div>
                            </div>
                    <div class="col-md-6">
                        <div class="support-list">
                   <ul class="list-2">
                  <li><img src="img/PDF.png" alt=""> FC-250 Operations</li>
                  <li><img src="img/PDF.png" alt="">FC-250 Procedure</li>
                  <li><img src="img/PDF.png" alt="">Mission Processing </li>
                   </ul> 
                        </div>
                    </div>
                   </div> 
                </div>
                </div>
                <div class="text-center m-50">
                    <p>Got any question?We're are ears!</p>
                     <p>Send your queies to <a href="">support@unifli.com</a> and we'll get back to you soon</p>
                </div>
               </div>
              </div>
           
           </div>
        </div>
        </div>
    </div>
