 <div class="bg-img-sec2">
 <section>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <ul>
                    <li class="row">
                        <div class="col-md-4">
                            <h4 class="pull-right">FLY &;</h4>
                            <h4 class="pull-right">CAPTURE</h4>
                            <h4 class="pull-right">IMAGERY</h4>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </li>
                    <li class="row">
                   <div class="col-md-4">   
                        </div>
                        <div class="col-md-4">
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>CREATE</h4>
                            <h4>ORTHOMOSAIC</h4>
                            <h4>IMAGES</h4>
                        </div>
                    </li>
                    <li class="row">
                       <div class="col-md-4">
                            <h4 class="pull-right">CONVERT</h4>
                            <h4 class="pull-right">ORTHOMOSAIC</h4>
                            <h4 class="pull-right">TO 3D</h4>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </li>
                    
                </ul>
            </div>
        </div>
         <div class="col-md-6">
             <div>
                 <h2>about us</h2>
                 <div>
                     <h3>Give your business wings, power it up,</h3>
                     <h3>and watch it lift-off!</h3>
                     <p>It's that</p>
                     <p>UNIFLI was</p>
                 </div>
                 <div>
                     <a>Read More</a>
                 </div>
             </div>
         </div>
    </div>
    </div>
</section>
</div>
