 <div class="section-common bg-img-sec2 top-spacing">
 <section class="top-spacing">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <ul class="about-short">
                    <li class="row">
                        <div class="col-md-4">
                            <div class="fly">
                                <h5 class="text-right margin0">FLY &</h5>
                            <h5 class="text-right margin0">CAPTURE</h5>
                            <h5 class="text-right margin0">IMAGERY</h5>
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="relative ">
                                <img src="img/a1.png" class="img-responsive fly-img" alt="about">
                                <div class="three-dot">
<div class="dots"></div>
                                 <div class="dots"></div>
                                  <div class="dots"></div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </li>
                    <li class="row">
                   <div class="col-md-4">   
                        </div>
                        <div class="col-md-4">
                            <div class="relative">
                                <img src="img/a4.png" class="img-responsive" alt="about">
                                 <div class="three-dot">
<div class="dots"></div>
                                 <div class="dots"></div>
                                  <div class="dots"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                             <div class="create">
                            <h5 class="text-left margin0">CREATE</h5>
                            <h5 class="text-left margin0">ORTHOMOSAIC</h5>
                            <h5 class="text-left margin0">IMAGES</h5>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                       <div class="col-md-4">
                            <div class="fly">
                            <h5 class="text-right margin0">CONVERT</h5>
                            <h5 class="text-right margin0">ORTHOMOSAIC</h5>
                            <h5 class="text-right margin0">TO 3D</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="relative ">
                                <img src="img/a3.png" class="img-responsive fly-img" alt="about">
                                
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </li>
                    
                </ul>
            </div>
        </div>
         <div class="col-md-6">
             <div>
                 <h2 class="margin0 line-after">about us</h2>
                 <div class="us-info">
                     <h4 class=" mb10">Give your business wings, power it up,<br>and watch it lift-off!</h4>
                     <p class="mb">It’s that simple. With UNIFLI, you can leverage the latest in technology to add an edge to your business.</p>
                     <p class="mb">UNIFLI was established in 2015 to help thousands of small, medium and enterprise business owners use the power of drones to boost their operations and achieve sky high levels of efficiency, with minimal interfaces and intervention.</p>
                 </div>
                  <button class="button read" ui-sref="aboutus">Read More</button>
                     <!--<a class="read" href="">Read More</a>-->
             </div>
         </div>
    </div>
    </div>
</section>
</div>